In [1]:
stock_prices = [('APPL', 200), ('GOOG', 400), ('MSFT', 100)]

In [2]:
for item in stock_prices:
    print(item)

('APPL', 200)
('GOOG', 400)
('MSFT', 100)

In [3]:
for ticker, price in stock_prices:
    print(ticker)

APPL
GOOG
MSFT

In [4]:
for ticker, price in stock_prices:
    print(price + price * 0.1)

220.0
440.0
110.0

In [5]:
work_hours = [('Abby', 80), ('Billy', 65), ('Jane', 110)]

In [8]:
def employee_check(work_hours):
    
    #Initiating placeholders for max number of hours and corresponding employee name
    current_max = 0
    employee_OTM = ''
    
    for employee, hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_OTM = employee
        else:
            pass
    
    return (employee_OTM, current_max)

In [9]:
employee_check(work_hours)

('Jane', 110)

In [10]:
example1 = [('Abby', 80), ('Billy', 65), ('Jane', 72), ('John', 81), ('Katie', 92), ('Norman', 23), ('Zack', 79)]

employee_check(example1)

('Katie', 92)

In [12]:
result = employee_check(example1)

result

('Katie', 92)

In [13]:
name, hours = employee_check(example1)

name

'Katie'

In [15]:
hours

92

In [16]:
name, hours, location = employee_check(example1)

ValueError: not enough values to unpack (expected 3, got 2)

If not knowing how many items are returned in the tuple, the above error can happen (User expecting and passing 3 variables to a function that returns a tuple of 2 items). Below is the solution.