In [1]:
mystring = 'hello'

In [3]:
mylist = []

for letter in mystring:
    mylist.append(letter)
    
mylist

['h', 'e', 'l', 'l', 'o']

In [4]:
mylist = [letter for letter in mystring]

mylist

['h', 'e', 'l', 'l', 'o']

In [6]:
mylist = [x for x in 'word']

mylist

['w', 'o', 'r', 'd']

the variable inside the brackets is arbitrary. x, l, n, letter, number, etc.

In [8]:
mylist = [x for x in range(0, 11)]

mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
mylist1 = [num for num in range(0, 11)]

mylist1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
mylist1 = [num**2 for num in range(0, 11)]

mylist1

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [12]:
mylist1 = [x for x in range(0, 11) if x % 2 == 0] #Even/odd check

mylist1

[0, 2, 4, 6, 8, 10]

In [13]:
mylist1 = [x**2 for x in range(0, 11) if x % 2 == 0] #Even/odd check

mylist1

[0, 4, 16, 36, 64, 100]

In [17]:
celcius = [0, 10, 18, 37, 26.4, 33]

fahrenheit = [((9 / 5) * temp + 32) for temp in celcius]

fahrenheit

[32.0, 50.0, 64.4, 98.60000000000001, 79.52, 91.4]

In [18]:
fahrenheit = []

for temp in celcius:
    fahrenheit.append(((9 / 5) * temp + 32))
    
fahrenheit

[32.0, 50.0, 64.4, 98.60000000000001, 79.52, 91.4]

In [19]:
results = [x if x % 2 == 0 else 'ODD' for x in range(0, 11)]

results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

Doing if else statements in the list comprehenstion is not recommended, it is hard to read and since the order is reversed from just the if statement, it can be confusing and prone to mistakes.

In [21]:
mylist = []

for x in [2, 4, 6]:
    for y in [1, 10, 1000]:
        mylist.append(x * y)

mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [23]:
mylist = [x * y for x in [2, 4, 6] for y in [1, 10, 1000]]

mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]